body{
    color: rgb(239, 245, 245);
    background-color: dodgerblue;
    font-size: 1.sem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}
img{
    justify-content: space-around;
}
p{
    color: black;
}
a{
    color: #000000;
    font-size: larger;
}