body{
    color: rgb(239, 245, 245);
    background-color: dodgerblue;
    font-size: 1.sem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}
img{
    width: 15%;
}
p{
    color: black;
}
a{
    color: black;
    font-size: larger;
}